@import "vars";

@mixin partners__boxes($border-dimension:1000px 1000px 1000px 1000px, 
        $partners-width:328px, $partenrs-height:103px,$border-radius:50%, $margin-figure:10px,
         $width-figure:89px, $height-figure:89px)  
{
    width:$partners-width;
    height:$partenrs-height;
    background-color: $primary-color;
    border-radius: $border-dimension;
    display: flex;
    align-items: center;

    p {
        color: $primary-bg;
        font-family: 'Raleway', sans-serif;
        font-size: 32px;
       
    } 

    span {
        font-size: 40px;
    }
    figure {
        width: $width-figure;
        height: $height-figure;
        background-color: $partners-color;
        border-radius: $border-radius;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: $margin-figure;
            
      
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.partners__container--section {
    background-color: $partners-color;
    width: auto;
    height: 589px;

    h1{
      font-family:'Abril Fatface', 'cursive';  
      font-weight: 400;
      display: flex;
      justify-content: center;
      font-size: 32px;
    }
      
    .partners__row--one{
        display: flex;
       justify-content: space-around;
       margin-top: 60px;
        .partners__names--one {
            @include partners__boxes;
                       
            img {
              width:50px;
              height: 70px;
              margin-top:8px;  

            }
            
            p {
                margin-left:25px; 
            }
        }

        .partners__names--two {
            @include partners__boxes();
            
            img {
                width: 70px;
                height: 40px;
                margin-top: 25px;
            }

            p {
                margin-left: 10px;
            }
        }
    }

    .partners__row--two{
        display: flex;
       justify-content: space-between;
       margin-top: 60px;
        .partners__names--three {
            @include partners__boxes($border-dimension: 0px 1000px 1000px 0px, 
                          $partners-width:200px, $border-radius:50%,
                          $margin-figure:10px, $width-figure:89px);
                flex-direction: row-reverse;
                img {
                    width: 60px;
                    height: 60px;
                    margin-top: 15px;
                    margin-right: 0px;
                    margin-left: 5px;                }
    
                p {
                    position: relative;
                    right: 60px ;
                }

              
        }

        .partners__names--four {
            @include partners__boxes();
            flex-direction: row-reverse;
            img {
                width: 36px;
                height: 46px;
                margin-top: 20px;
            }

            p {
                margin-right: 25px;
            }
        }
            .partners__names--fourtwo {
                @include partners__boxes($border-dimension: 3000px 0px 0px 3000px, 
                          $partners-width:300px, $border-radius:50% 0% 0% 50%,
                          $margin-figure:0px, $width-figure:89px,$height-figure: 89px);
                flex-direction: row-reverse;
                img {
                    width: 40px;
                    height: 90px;
                    margin-top: 0px;
                    margin-right: 35px;                }
    
                p {
                    position: relative;
                    left: 5px ;
                }

                figure{
                position: relative;
                left: 40px;
                }
                
            }
    }

    .partners__row--three{
        display: flex;
       justify-content: space-around;
       margin-top: 60px;

        .partners__names--five {
            @include partners__boxes();
            img {
              width: 48px;
              height: 48px;
              margin-top:20px;  

            }
            
            p {
                margin-left:15px; 
            }
        }

        .partners__names--six {
            @include partners__boxes();
            
            img {
                width: 36px;
                height: 46px;
                margin-top: 20px;
            }

            p {
                margin-left: 10px;
            }
        }
    }
}

    
.footer__container{
    width: auto;
    height: 450px;
    background-color: $partners-color;

    .footer__container--dates {
        width: auto;
        height: 250px;
        display: flex;
        position: relative;

        .logo__pazioli {
            width: 30%;
            height: 200px;
            position: relative;
            display: inline-block;
            text-align: center;
            margin-left: 20px;
           
            .logo-background {
                position: absolute;
                top: 30%;
                left: 10%; 
                width: 130px;
                height: 130px; 
                          
            } 

            #logo-container {
                width: 100px;
                height: 120px;
                position: absolute;
                top:43% ;
                left: 12%;
            }

            .logo__pazioli--img {
                width: 52px; 
                height: 72px;
                    
            }

            .logo__pazioli--letters {
             
                font-size: 15px;
                font-weight: bold;
                margin-left: 55%;
                margin-top:-25px;
            }
        }

        .us__section {
            width: 35vw;
            
            position: relative;
            h2 {
                font-size: 20px;
                font-weight:bold ;
                position: relative;
                top: 45px;
            }

            ul {
                list-style: none;
                font-size: 20px;
                line-height: 30px;
                margin-top: 70px;
            }
        }

        .contact__section {
            width: 35vw;
            margin-top: 45px;
            position: relative;

            h2 {
                font-size: 20px;
                margin-bottom: 20px;
            }

            p {
                font-size: 18px;
                margin-top: 5px;
            }

            .contact-paragraph {
                font-size: 20px;
            }

        }
    }

    .footer__container--rss {
        width: auto;
        height: 50px;
        background-color: $partners-color;
        display: flex;

        .rss__logos {
            width: 50%;
            display: flex;
            position: absolute;
            left: 25px;
        }

        p {
            width: 50%;
            position: absolute;
            left: 450px;
            margin-top: 20px;
        }

        div {
            width: 40px;
            height: 40px;
            border: 2px solid black;
            border-radius: 50px;
            margin: 15px;
        }

        img {
            margin-top: 10px;
            margin-left: 10px;
        }

        
    }

    .footer__emojis {
        width: auto;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 80px;
    }
 }   


    
