@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$primary-color: black;
$primary-bg: #FFFF;
$secondary-color: #FFBA60;
$primary-hover: rgba(0, 0, 0, 0.75);
$font-primary-family:'Varela Round', sans-serif;
$font-secondary-family:'Varela Round', sans-serif;

